.navbar-default{
box-shadow: 0px 2px 4px rgba(53, 59, 65, 0.39);
position: fixed;
    width:100% ;
z-index:2;
background-color: rgb(255, 255, 255)
}
p{
    font-family:Display;
}

img{
    /*box-shadow:0px 2px 10px rgba(0,0,0,0.31);*/
    height: 50% ;
    width: 80%;

}