<link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
<link rel="stylesheet" href="css/util1.css">
<script type="application/javascript" src="js/animations.js"></script>

<script>
    $('#by').on('click', function () {
        $('#selector').toggleClass('selector', 'selector_v');
    });

//     $('#card').hover(function(){
//         console.log(this);
// $(this).removeClass('shado');

//     },function(){
//         console.log(this);
//     });



</script>

<header class="navbar ">

    <div class="navbar-header">
        <nav class="navbar-default">
            <a href="#" class="navbar-brand  text-center" style="height: 100%; text-decoration:none;font-family: 'Vollkorn', serif;">BookStore</a>
            <span style="float: right;padding: 5px" class=" form-inline">
                <form class="form-inline">

                    <span>
                        <select class="selector btn btn-default shado" id="selector" ng-model="category">
                            <option value="">Search</option>
                            <option value="genre">Genre</option>
                            <option value="author">Author</option>
                            <option value="title">Title</option>

                        </select>
                        <div id="by" class="glyphicon glyphicon-sort" style="color:cornflowerblue"></div>

                    </span>

                    <input ng-model="search" placeholder="Search By {{category}} :" type="search" class="shado btn btn-default ">

                    <button ng-click="filter()" class="btn btn-default ">
                        <i style="color:cornflowerblue;" class="glyphicon glyphicon-search"></i>
                    </button>


                    <div class="glyphicon glyphicon-align-justify" style="color:cornflowerblue"></div>
                </form>
            </span>
        </nav>
    </div>
</header>

<div id="fadethis" class="container-fluid">
    <div class="panel panel-default" ng-init="[getBooks(),Heading='Latest Books']">
        <div class="panel-heading">
            <h2 class="panel-title">{{Heading}}</h2>

        </div>
        <div class="panel-body container-fluid">
            <div class="row container-fluid" style="margin-left:10%" ng-repeat="book in bookan" ng-if="$index%3==0">
            <div class="row">
                    <div  style="border-radius:3px;margin:20px;padding:0px ;width: fit-content" class="shado col-xs-2 col-md-4 container-fluid">
                        
                          <div class="panel panel-primary " >
                              <div class="panel-heading">
                                    <h3 class="panel-title">{{bookan[$index].title}}</h3>
                              </div>
                              <div class="panel-body" style="padding: 0px;">
                                  
                            <img style="  margin-left: auto;
                            margin-right: auto;height:50%;width:60%;padding:6px;display:block;" class="img-thumbnail center-block img-responsive" ng-src="{{bookan[$index].image_url}}">
                                       
                        </div>
                           <div class="panel-footer primary">
                               <span>
                                    <a  class="btn btn-primary" id="buy" href="#!/book/details/{{bookan[$index]._id}}">Buy
                                    </a>
                                <a  class="btn btn-primary" id="viewDetails" href="#!/book/details/{{bookan[$index]._id}}">View Details
                                </a>
                                <a  class="btn btn-primary" id="addToCart" href="#!/book/details/{{bookan[$index]._id}}">Add to Cart
                                </a>
                            </span>
                           </div>
                          </div>  
                                              
                      
                    </div>
                    <div  style="border-radius:3px;margin:20px;padding:0px ;width: fit-content" ng-if="bookan[index+1].title!=null" class="shado col-xs-2  col-md-4 container-fluid">
                        
                            <div class="panel panel-primary " >
                                <div class="panel-heading">
                                      <h3 class="panel-title">{{bookan[$index+1].title}}</h3>
                                </div>
                                <div class="panel-body" style="padding: 0px;">
                                    
                              <img style="margin-left: auto;
                              margin-right: auto;height:50%;width:60%;padding:6px;display:block;" class="img-thumbnail img-responsive" ng-src="{{bookan[$index+1].image_url}}">
                                         
                          </div>
                             <div class="panel-footer primary">
                                    <span>
                                         <a  class="btn btn-primary" id="buy" href="#!/book/details/{{bookan[$index+1]._id}}">Buy
                                    </a>
                                            <a  class="btn btn-primary" id="viewDetails" href="#!/book/details/{{bookan[$index+1]._id}}">View Details
                                            </a>
                                            <a  class="btn btn-primary" id="addToCart" href="#!/book/details/{{bookan[$index+1]._id}}">Add to Cart
                                            </a>
                                        </span>
                             </div>
                            </div>  
                             
                      </div>
                      <div  style="border-radius:3px;margin:20px;padding:0px ;width: fit-content" ng-if="bookan[index+2].title!=null"class="shado col-xs-2 col-md-4 container-fluid">
                        
                            <div class="panel panel-primary " >
                                <div class="panel-heading">
                                      <h3 class="panel-title">{{bookan[$index+2].title}}</h3>
                                </div>
                                <div class="panel-body" style="padding: 0px;">
                                    
                              <img style="margin-left: auto;
                              margin-right: auto;height:50%;width:60%;padding:6px;display:block;" class="img-thumbnail  img-responsive" ng-src="{{bookan[$index+2].image_url}}">
                                         
                          </div>
                             <div class="panel-footer primary">
                                    <span>
                                         <a  class="btn btn-primary" id="buy" href="#!/book/details/{{bookan[$index+2]._id}}">Buy
                                    </a>
                                            <a  class="btn btn-primary" id="viewDetails" href="#!/book/details/{{bookan[$index+2]._id}}">View Details
                                            </a>
                                            <a  class="btn btn-primary" id="addToCart" href="#!/book/details/{{bookan[$index+2]._id}}">Add to Cart
                                            </a>
                                        </span>
                             </div>
                            </div>  
                             
                      </div>
                </div>

            </div>
        </div>
    </div>
</div>