<script type="application/javascript" src="js/forDual.js"></script>
<link type="text/css" rel="stylesheet" href="css/forDual.css" />

<div class="cotn_principal">
    <div class="cont_centrar">

        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">

                        <h2>LOGIN</h2>
                        <p style="padding: 2px;">Fill in your registered user-name and password</p>
                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>


                        <p>Already got username and password ? click on Login tab.</p>

                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>


            <div class="cont_back_info">
                <div class="cont_img_back_grey">
                    <img src="views/images/cover.jpg" alt="" />
                </div>

            </div>
            <div class="cont_forms">
                <div class="cont_img_back_">
                    <img src="views/images/cover.jpg" alt="" />
                </div>
                <div class="cont_form_login" `>
                    <h2>LOGIN</h2>
                    <form name="signin">
                        <input spellcheck="false" type="text" ng-required="true" ng-model="lgnCreds.email" name="userid" ng-model-options="{updateOn:'blur' }" placeholder="Email" />
                        <input type="password" ng-required="true" name="password" ng-model-options="{updateOn:'blur' }" ng-model="lgnCreds.password" placeholder="Password" />
                        <button class="btn_login" ng-disabled="signin.userid.$pristine"ng-click="login()">LOGIN</button>
                    </form>
                </div>

                <div class="cont_form_sign_up">
                    <h2>SIGN UP</h2>

                    <form name="signup">
                        <input spellcheck="false" type="text" name="name" ng-model="user.name" ng-model-options="{updateOn:'blur' }" placeholder="Name"
                            required>
                        <input spellcheck="false" id="eid" type="email" name="email" ng-model="user.email" ng-model-options="{updateOn:'blur' }"
                            placeholder="Email" required>
                        <div class="warning" ng-show="signup.email.$dirty&& signup.email.$invalid">Invalid </div>

                        <input type="password" name="passcode" ng-required="true"  ng-model-options="{updateOn:'blur' }"  ng-model="user.password" minlength="4" placeholder="Password" required>
                        <div class="warning" ng-show="signup.passcode.$dirty&& signup.passcode.$invalid" >Password must be 4 characters long</div>
                        <input type="password" name="cpasscode" ng-required="true" ng-model="cp" ng-model-options="{debounce:1}" placeholder="Confirm Password" required>
                        <div class="warning" ng-show="user.password!=cp&&signup.passcode.$dirty" >Passwords dont match</div>
                        <button class="btn_sign_up" ng-click="show()" >SIGN UP</button>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>